<%- include("header") -%>


<div class="container" id="heading">
  <h1 id="heading"><%= listTitle %></h1>
  <% for (let i = 0 ; i< newListItems.length; i++){ %>
  <div class="item">
    <input type="checkbox" />
    <p><%= newListItems[i]%></p>
  </div>
  <% } %>
  <form class="item" action="/" method="post">
    <input
      class="new-item"
      type="text"
      name="newItem"
      placeholder="Enter New Todo"
      autocomplete="off"
      autofocus="true"
    />
    <button type="submit" name="list" value="<%= listTitle%>">+</button>
  </form>
</div>

<%- include("footer") -%>
